<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/collector.log</file>
		<encoder>
			<pattern>%d{yyyy-MMM-dd HH:mm:ss,SSS,GMT+0} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/collector.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>128MB</maxFileSize>
		</triggeringPolicy>
		<!-- 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MMM-dd HH:mm:ss,SSS}][%-5p][%-10t][%-5c][%4L]%m%n" />
		</layout>
		-->
	</appender>

	<appender name="IFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/input.log</file>
		<encoder>
			<pattern>%d{yyyy-MMM-dd HH:mm:ss,SSS,GMT+0} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/input.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>128MB</maxFileSize>
		</triggeringPolicy>
		<!-- 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MMM-dd HH:mm:ss,SSS}][%-5p][%-10t][%-5c][%4L]%m%n" />
		</layout>
		-->
	</appender>

	<appender name="OFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/output.log</file>
		<encoder>
			<pattern>%d{yyyy-MMM-dd HH:mm:ss,SSS,GMT+0} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/output.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>128MB</maxFileSize>
		</triggeringPolicy>
		<!-- 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MMM-dd HH:mm:ss,SSS}][%-5p][%-10t][%-5c][%4L]%m%n" />
		</layout>
		-->
	</appender>

	<appender name="EFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/error.log</file>
		<encoder>
			<pattern>%d{yyyy-MMM-dd HH:mm:ss,SSS,GMT+0} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/error.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>128MB</maxFileSize>
		</triggeringPolicy>
		<!-- 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MMM-dd HH:mm:ss,SSS}][%-5p][%-10t][%-5c][%4L]%m%n" />
		</layout>
		-->
	</appender>
	<appender name="ECOMP_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/ecomperror.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss,GMT+0}+00:00|%X{requestId}||%X{serviceInstanceId}|%-10thread|%X{serverName}|%X{serviceName}|%X{instanceUuid}|%level|%X{severity}|%X{serverIpAddress}|%X{server}|%X{ipAddress}|%X{className}|%X{timer}|%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/ecomperror.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>128MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	<!-- the other 3 ECOMP logs are omitted for this release -->

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
		
		<!-- if/when the ECOMP team runs this server...
		<appender-ref ref="ECOMP_ERROR" />
		 -->
	</root>
	<logger name="org.openecomp.dcae.commonFunction.input" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="IFILE"/>
    </logger> 

    <logger name="org.openecomp.dcae.commonFunction.output" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="OFILE"/>
    </logger> 

	<logger name="org.openecomp.dcae.commonFunction.error" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="EFILE"/>
    </logger>
</configuration>
